<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Result</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>
    <h1>Submitted Informations: </h1>
    <h3>
        Name: <%= data.name %>
    </h3>
    <h3>
        Dojo Location : <%= data.dojo_location %>
    </h3>
    <h3>
        Favorite Language: <%= data.favorite_language %>
    </h3>
    <h3>
        Comment: <%= data.comment %>
    </h3>
    <a href="/">Go back</a>
</body>

</html>