/*CSS reset settings here*/
* {
	margin: 0px;
	padding: 0px;
}
#wrapper {
	width: 970px;
	height: 760px;
	background-color: #1b335d;
	margin: 0px auto;
	padding: 1em;
}
#header {
	min-height: 75px;
	margin-bottom: 1em;
	background-color: #cf2f36;
	border-radius: 1em;
	display: block;
}
#navigation {
	min-height: 200px;
	width: 210px;
	background-color: #2a7d8c;
	padding: 1em;
	display: inline-block;
	margin-right: 1em;
	border-radius: 1em;
	position: relative;
	background-position: 100em bottom;
}
#main_content {
	height: 540px;
	width: 680px;
	background-color: #0e1822;
	display: inline-block;
	padding: 1em;
	border-radius: 1em;
	position: absolute;
}
#advertisement {
	height: 60px;
	width: 960px;
	background-color: #5d6673;
	display: block;
	margin-top: 22.5em;
	border-radius: 1em;
	position: relative;
	background-position: 1000%;
}
h1 {
	font-size: 2em;
	color: #c2d6ec;
	text-align: left;
	margin-left: 0.5em;
	line-height: 90px;
}

.violet {
	color: #726db6;
	text-decoration: none;
}

span,
#cyan {
	color: #6adde6;
	text-decoration: underline;
	font-size: 1em;
}
div#navigation p {
	color: #6adde6;
	text-decoration: underline;
}
div#navigation ul {
	text-decoration: underline;
	text-align: left;
	margin-left: 1.2em;
	font-size: 1em;
	color: #6adde6;
}
div#main_content {
	color: #c2d6ec;
	font-size: 1em;
}

div#main_content ul {
	color: #c2d6ec;
	font-size: 1em;
	margin-left: 1.2em;
}

#footer {
	font-size: 1em;
	color: #c2d6ec;
	text-align: left;
	margin-left: 1em;
	line-height: 60px;
	text-decoration: none;
}
