<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/users/" method="post">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
        <h1>Create User</h1>
        Name: <input type="text" name='name'>
        <input type="submit" value="Create">
    </form>

</body>

</html>