body {
	-webkit-text-stroke: 1px black;
	background: rgb(238, 174, 202);
	background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
	color: white;
	font-size: 40px;
	text-align: center;
	font-family: sans-serif;
}

img {
	border-radius: 50%;
	width: 500px;
	height: 400px;
}
