* {
	margin: 0;
	padding: 0;
}
body {
	margin-top: 5%;
	text-align: center;
}
#container {
	padding: 40px;
	text-align: left;
	border: 2px solid black;
	margin: auto;
	margin-top: 20px;
	width: 500px;
	height: 300px;
}
form {
	margin-top: 0;
}
form input[type='text'] {
	margin-top: 10px;
	padding: 5px;
}
form input[type='submit'] {
	display: block;
	margin: auto;
	margin-top: 10px;
	background-color: dodgerblue;
	color: white;
	padding: 5px 10px;
	border: 2px solid rgb(56, 56, 56);
	border-radius: 4px;
}
