<form action="/sessions" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="email" name="Email">
    <input type="password" name="Password">
    <input type="submit" value="Log In">
</form>
<% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
        <%= e %>
            <% end %>
                <% end %>
                    <h1>Hi <%= session[:name] %>
                    </h1>