h1, p, form {
	text-align:center;
}
a {
	background-color: white;
	border-radius: 4px;
	padding: 10px;
	text-decoration: none;
}
.wrong {
	background-color: red;
	border: 3px solid black;
	height: 50px;
	margin: auto;
	text-align: center;
	width: 200px;
}
.correct {
	background-color: #009E0F;
	border: 3px solid black;
	height: 200px;
	margin: auto;
	text-align: center;
	width: 200px;