body {
	background-color: #222222;
	color: white;
	text-align: center;
}
form {
	background-color: #555555;
	display: inline-block;
	padding: 20px;
	margin-top: 20px;
}
form input {
	display: block;
	margin-bottom: 5px;
	padding: 10px;
	width: 300px;
}
input[type='submit'] {
	background-color: #767676;
	color: white;
	margin-left: 12px;
}
.errors {
	border: 2px solid red;
	background-color: #555555;
	padding: 20px;
	min-height: 30px;
	margin: auto;
	width: 300px;
}
