body {
	width: 100%;
	height: 900px;
}

.circle {
	position: absolute;
	border-radius: 100px;
	display: none;
	border: 3px solid black;
}

#buttons {
	position: absolute;
	z-index: 1;
}

.btn {
	text-align: center;
	margin-top: 50px;
	margin-right: 10px;
	width: 70px;
	height: 40px;
}

.btn-delete {
	text-align: center;
	margin-right: 10px;
	width: 70px;
	height: 40px;
	display: block;
	margin-top: 10px;
	font-weight: 900;
}
