<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let socket = io();
            let name = prompt('Enter your name');
            if (name == null) {
                window.location.href = "/";
            }
            else {
                socket.emit('got_a_new_user', { name: name });
            }

            $('form').submit(function () {
                const form = document.querySelector('form');
                // construct the form data into object type
                const data = Object.fromEntries(new FormData(form).entries());
                // reset the form field by using querySelector function 'reset'
                form.reset();
                socket.emit('posting_form', data);
                return false;
            });

            socket.on('new_user', function (data) {
                $("#log").html(`<p>${data.name} joined the chat!</p>`);
                $('#log').delay(5000).fadeOut('slow');
            });

            socket.on('current_user', function (data) {
                $("#current_user").val(data.name);
            });

            socket.on('chat_update', function (data) {
                console.log(data);
                let html_str = "";
                if (data.length != 0) {
                    for (let i = 0; i < data.length; i++) {
                        html_str += `<p>${data[i].name} : ${data[i].message}</p>`;
                        $("#container").html(html_str);
                    }
                }
                else {
                    $("#container").html('Empty chat :(');
                }
            });
        });
    </script>
</head>

<body>
    <h2>Conversation Board</h2>
    <div id="container">
    </div>
    <form>
        <input type="text" name="message" placeholder="Enter your message here!">
        <input type="hidden" name="current_user" id="current_user">
        <input type="submit" value="Send">
    </form>
    <div id="log"></div>
</body>

</html>