<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Car Input</title>

</head>

<body>
    <h1>New Car</h1>
    <formmethod='post'>
        <p>Model Name:<input type='text' name='name'></p>
        <p>Specs:<input type='text' name='name'></p>
        <p>Brand:<input type='text' name='name'></p>
        <p>Seating capacity:<input type='text' name='name'></p>
        Comment(optional):<textarea name="comment" cols="10" rows="5" placeholder="Comment"></textarea>
        <input type='submit' value='Submit'>
        </form>
</body>

</html>