body {
	width: 100%;
	height: 900px;
}

#buttons {
	position: absolute;
	z-index: 1;
}

.btn {
	text-align: center;
	margin-top: 50px;
	margin-right: 10px;
	width: 70px;
	height: 40px;
	border: 2px solid black;
}
.shapes {
	border: 2px solid black;
	height: 40px;
	margin-right: 10px;
	margin-top: 50px;
	text-align: center;
	width: 40px;
	background-color: white;
}
#shapes {
	margin-left: 400px;
}
#circle {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}
#square {
	width: 40px;
	height: 40px;
}
#star {
	clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
	vertical-align: bottom;
	margin-top: 0px;
}
#star-box {
	vertical-align: bottom;
	height: 40px;
	width: 40px;
	color: white;
	display: inline-block;
	background-color: rgb(61, 61, 61);
	border-radius: 50%;
	padding: 2px;
}

.btn-delete {
	text-align: center;
	margin-right: 10px;
	width: 70px;
	height: 40px;
	display: block;
	margin-top: 10px;
	font-weight: 900;
}
