* {
	font-family: sans-serif;
	color: #051821;
}
.status {
	background-color: #1a4645;
	border-radius: 8px;
	color: white;
	text-align: center;
}
.error {
	color: white;
	padding: 5px;
}
.success {
	color: #f58800;
	padding: 5px;
}
.login-register {
	border-radius: 8px;
	display: inline-block;
	min-width: 200px;
	padding: 20px;
	vertical-align: top;
}
#register {
	background-color: #f58800;
}
#login {
	background-color: #f8bc24;
}
h2 {
	text-align: center;
}
input[type='text'],
input[type='password'] {
	background-color: white;
	border-radius: 5px;
	height: 20px;
	width: 200px;
}
input[type='submit'] {
	background-color: white;
	border-radius: 5px;
	display: block;
	font-weight: bold;
	margin: auto;
	margin-top: 20px;
	padding: 5px;
}
