* {
	padding: 0px;
	margin: 0px;
	background-color: #272b30;
}
#container {
	text-align: center;
	color: white;
	width: 1000px;
	height: 1000px;
	margin: auto;
}
button {
	cursor: pointer;
	margin: 20px 60px 0px;
	padding: 5px 20px;
	border: 2px solid rgb(255, 255, 255);
	color: #ffe300;
	background-color: #1c1e22;
}
#allBtn {
	margin: 20px 0px 0px;
}
#list {
	padding: 20px;
	margin: auto;
	margin-top: 20px;
	width: 350px;
	min-height: 200px;
	border: 3px solid white;
}
h1 {
	padding: 20px;
}
ul {
	list-style: none;
}
