body * {
	text-align: center;
}

img {
	height: 100px;
	width: 100px;
}

ul {
	display: inline-block;
	margin: 10px;
	text-align: center;
}

li {
	display: inline-block;
	height: 100px;
	list-style: none;
	padding: 10px;
	width: 100px;
}

#pokemons {
	width: 70%;
	display: inline-block;
}

#chosen {
	border: 5px dashed red;
	display: inline-block;
	margin-top: 100px;
	min-height: 500px;
	vertical-align: top;
	width: 20%;
}
.name {
	text-transform: capitalize;
}
