table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

.first_row {
	background-color: black;
	color: white;
	font-size: large;
	font-weight: bold;
}

tr:nth-child(5n + 1) {
	background-color: black;
	color: white;
}
