<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link rel="stylesheet" href="../stylesheets/style.css">
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			var selectElements = document.querySelectorAll("select");
			M.FormSelect.init(selectElements);
		});
	</script>
	<title>Express 2 Register and Login</title>
</head>

<body>
	<nav class="light-red darken-4">
		<div class="container">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Welcome <%=sess%> !</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/logoff">Log Off</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container mt-2 details">
		<div class="row">
			<div class="col s5 card">
				<p><span>First Name:</span>
					<%=first_name%>
				</p>
				<p><span>Lastname:</span>
					<%=last_name%>
				</p>
				<p><span>Email Address:</span>
					<%=email%>
				</p>
			</div>
		</div>
	</div>

</body>

</html>